<h1>Datos Pasados a formulario B</h1>

  <mat-form-field appearance="fill">
    <mat-label>nombre</mat-label>
    <input matInput value="{{nombreH}}">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>localidad</mat-label>
    <input matInput value="{{localidadH}}">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>domicilio</mat-label>
    <input matInput value="{{domicilioH}}">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="fill">
    <mat-label>telefono</mat-label>
    <input matInput value="{{telefonoH}}">
  </mat-form-field>&nbsp;
