   
<h3>Datos de Hospital</h3>



<div style="text-align: center;">
    <label>Nombre Hospital
        <input (input)= "nombreP = $event.target.value">
    </label>
<p></p>

<label>Localidad
    <input (input)= "localidadP = $event.target.value">
</label>
<p></p>

<label>Domicilio 
    <input (input)= "domicilioP = $event.target.value">
</label> 
<p></p>

<label>Telefono
    <input (input)= "telefonoP = $event.target.value">
</label>
<p></p>

<nav>
    <ul>
        <button mat-raised-button color="primary"  routerLink="paciente">Guardar</button>
    </ul>
</nav>
    

</div>

<!-- <app-paciente [nombreH]= nombreP [localidadH]= localidadP [domicilioH]= domicilioP [telefonoH]=telefonoP> </app-paciente>         


-->

      
<router-outlet></router-outlet>